/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: lightcoral;
}

/* Main */
main {
    background-color: limegreen;
}

/* Footer */
footer {
    background-color: aqua;
}